<div class="w3-bar w3-top w3-large" style="padding:0px; z-index:4;background: linear-gradient(to top right,#C22D43, #470d15);color:white;">
  <span class="w3-bar-item">
    <img class="img-responsive" src="../assets/img/Imagotipo-CII.png" alt="logo" style="max-width: 80px;" align="left">
  </span>
  <span class="w3-bar-item" style="text-align:center; font-size:25px;">
  	<span style="color:#00aae8;">Plataforma</span> Infonavit</span>
    
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey  w3-right" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <p style="color:orange;"><b>{{model.visor}}</b></p>
</div>
