<section class="container">
  	<h3>View: {{$ctrl.view}}</h3>
  	<button type="button" ui-sref="app.area({action: 'create'})" > AddNew + </button>
	<table idTable="idAreas" class="areas">
		<thead>
			<tr>
				<th>Area</th>
				<th>Nombre</th>
				<th>Central</th>
			</tr>
		</thead>
		<tbody style="font-family: sans-serif; font-size: 12px">
			<tr ng-repeat="entity in $ctrl.model.catalog[$ctrl.view] ">
				<td>{{ entity["area"] }}</td>
				<td style="text-align: center">{{ entity["nombre"] }}</td>
				<td style="text-align: center">{{ entity["central"] }}</td>
				<td>
                	<button type="button" ng-click="$ctrl.selectRow(entity)">Editar</button>
                	<button type="button" ng-click="$ctrl.delete($ctrl.view,entity)">Borrar</button>
            	</td>
			</tr>
		</tbody>
	</table>
</section>

